@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap");
.tax-calc {
  max-width: 500px;
  display: table;
  margin: 0 auto;
  background: #ffffff;
  padding: 2rem 1rem;
  font-family: "Arimo", sans-serif;
  border-radius: 0.375rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  @media only screen and (min-width: 600px) {
    .tax-calc {
      padding: 2rem; } }
  .tax-calc .error {
    color: red;
    font-size: 0.85rem;
    font-weight: 600;
    font-family: "Arimo", sans-serif; }
  .tax-calc__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3748;
    text-align: center; }
  .tax-calc p {
    color: #374151; }

.tax-form {
  margin-top: 2rem; }
  .tax-form__row {
    margin-left: -0.3rem;
    margin-right: -0.3rem; }
  .tax-form__group {
    padding-left: 0.6rem;
    padding-right: 0.6rem; }
  .tax-form__control {
    margin: 0 0 1rem; }
  .tax-form__label label {
    color: #374151;
    font-weight: 600;
    font-size: 1rem; }
  .tax-form__input {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border: 2px #e5e7eb solid !important;
    background: #ffffff;
    padding: 0.5rem 2.5rem 0.5rem 0.75rem !important;
    border-radius: 0.375rem !important;
    color: #384252 !important;
    margin: 0; }
    .tax-form__input::placeholder {
      color: #9ca3af; }
    .tax-form__input:focus {
      outline: none !important;
      border: 2px #c8ccd5 solid; }
    .tax-form__input:disabled {
      background: #f3f4f6; }
  .tax-form select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    background-position: right 0.5rem center !important;
    background-size: 1.5em 1.5em; }
  .tax-form__send {
    background: #005ca9;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    font-weight: 700;
    padding: .75rem;
    min-width: 100%;
    border-radius: 0.375rem;
    margin: 1rem auto 1.1rem auto;
    display: table; }
    @media only screen and (min-width: 600px) {
      .tax-form__send {
        min-width: 300px; } }
    .tax-form__send:hover {
      background: #004e90; }

.product-name {
  text-align: center;
  width: 100%;
  display: table;
  margin: 1rem auto 0;
  font-size: 1.1rem;
  padding: 1.5rem 0.8rem;
  background: #e6f4ff;
  border-radius: 0.375rem; }
  @media only screen and (min-width: 600px) {
    .product-name {
      padding: 1.5rem 2rem; } }

* {
  outline: none; }

input:focus {
  outline: none !important; }

input::-moz-focus-outer {
  border: 0; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 50%; }

.flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }
