@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');

$font-family: 'Arimo', sans-serif;
$primary-color: #005ca9;

$border-radius: .375rem;

$gutter: 0.6rem;


.tax-calc {
  max-width: 500px;
  display: table;
  margin: 0 auto;
  background: #ffffff;
  padding: 2rem 1rem;
  font-family: $font-family;
  border-radius: $border-radius;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media only screen and (min-width: 600px) {
	padding: 2rem;
  }

  .error {
	color: red;
	font-size: 0.85rem;
	font-weight: 600;
	font-family: $font-family;
  }

  &__title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #2d3748;
	text-align: center;

  }

  p {
	color: #374151;
  }

}


.tax-form {

  margin-top: 2rem;

  &__row {
	margin-left: -$gutter/2;
	margin-right: -$gutter/2;
  }

  &__group {
	padding-left: $gutter;
	padding-right: $gutter;
  }

  &__control {
	margin: 0 0 1rem;
  }

  &__label {

	label {
	  color: rgba(55, 65, 81, 1);
	  font-weight: 600;
	  font-size: 1rem;
	}

  }

  &__input {
	font-size: 1rem !important;
	line-height: 1.5 !important;
	border: 2px rgba(229, 231, 235, 1) solid !important;
	background: #ffffff;
	padding: 0.5rem 2.5rem 0.5rem 0.75rem !important;
	border-radius: $border-radius !important;
	color: #384252 !important;
	margin: 0;

	&::placeholder {
	  color: #9ca3af;
	}

	&:focus {
	  outline: none !important;
	  border: 2px darken(rgba(229, 231, 235, 1), 10%) solid;
	}

	&:disabled {
	  background: lighten(rgba(229, 231, 235, 1), 5%);
	}
  }

  select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e") !important;
	background-repeat: no-repeat !important;
	padding: 0.5rem 2.5rem 0.5rem 0.75rem;
	background-position: right 0.5rem center !important;
	background-size: 1.5em 1.5em;
  }


  &__send {
	background: $primary-color;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	border: 0;
	font-weight: 700;
	padding: .75rem;
	min-width: 100%;

	border-radius: $border-radius;
	margin: 1rem auto 1.1rem auto;
	display: table;

	@media only screen and (min-width: 600px) {
	  min-width: 300px;
	}

	&:hover {
	  background: darken($primary-color, 5%);
	}

  }


}



.product-name {
  text-align: center;
  width: 100%;
  display: table;
  margin: 1rem auto 0;
  font-size: 1.1rem;
  padding: 1.5rem 0.8rem;
  background: lighten(#005ca9, 62%);
  border-radius: $border-radius;

  @media only screen and (min-width: 600px) {
	padding: 1.5rem 2rem;
  }

}


/// Helpers

* {
  outline: none;
}

input:focus {
  outline: none !important;

}

input::-moz-focus-outer {
  border: 0;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}


.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}